body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

p , h1 , h2 , h3 , h4 {
    margin: 0 0 0 0;
}

.main-container {
    width: 1150px;
    background-color: #fff;
    margin: 40px auto;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content section */

.main-content-sections {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    padding: 100px 215px 100px 90px ;
    color: #595959;

}

.about-me-section {
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.about-me-profesion {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 0 0;
}

.my-name-section {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    color: #000;
    margin: 20px 0 25px 0;
    width: 440px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 10px 0;
    color: #000;
}

.delimiter-position-pointer {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.main-content-list {
    padding-left: 16px;
    margin: 0 0 0 0;
}

/* My projects section */

.my-project-section {
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin: 0 0 50px 0;
    width: 485px;
}

.project-list-text {
    padding-left: 10px;
}

.project-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline #595959;
}

/* My-work-experience */

.my-experience-section {
    width: 525px;
    margin: 0 0 0 0;
}

.company-position-blok {
    margin: 0 0 20px 0;
}

.main-position-section {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;
}

.my-work-item {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.position-pointer {

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 10px 0 10px 0;
}

/* My education */

.my-education-section {
    width: 327px;
    margin: 45px 0 0 0;
}

/* Sidebar-section */

.sidebar-section {
    background-color: #1E2939;
    width: 320px;
    padding: 40px 0 0 0;
}

.sidebar-content {
    margin: 50px 0 0 40px ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 45px;
}

/* Contact-section */
.contact-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}


.contact-section-link-decor ,
.contact-section-link {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E949C;
}

.contact-section-link-decor {
    text-decoration: underline;
}

/* Scilsls section*/

.skills-list {
    padding-left: 17px;
    color: #FB6D3A;
}

.scills-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}